page-home {

}

.slide {
  .text{
    font-family: 'Lato', sans-serif !important;
    font-size: 18px;
    color: #92f6e7;
    padding: 20px;
  }

  .teaser {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-height: 10000px !important;
    top: 0;
    left: 0;
    z-index: -1;

    filter: brightness(30%);

  }

}

:host {
  .slide {
    height: 100% !important;
  }

}

